/* conteudo principal */
body {
  background-color: #223446;
}

.main {
  width: 750px;
  background: #15202B;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  padding: 30px;
}

.main h1 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 8px;
}

.main {
  color: white;
}

.main h3 {
  color: white;
  background: #223446;
  padding: 10px;
}

.main a {
  color: var(--primary-color);
}

/* cabeçalho */
.footer {
  background-color: rgb(136, 134, 134);
  color: white;
  padding: 60px;
}

.container {
  max-width: 1200px;
  margin: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
  list-style: none;

}

.row {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

li {
  text-decoration: none;
}